$primary: (
  0: #ffffff,
  25: #f9f7fc,
  100: #ede7f7,
  200: #c8a9fa,
  300: #b38df1,
  400: #9265da,
  500: #7343c0,
  600: #5929a6,
  700: #43178a,
  800: #300d69,
  900: #0e0818,
);

$neutral: (
  100: #e0e2e7,
  200: #c2c6ce,
  300: #a3a9b6,
  400: #858d9d,
  500: #667085,
  600: #525a6a,
  700: #3d4350,
  800: #292d35,
  900: #14161b,
);

$text: (
  "light": #fff,
  "dark": #292d35,
);

$border: (
  "light": #e2e2e2,
  "dark": #292d35,
);

:root {
  @each $scale, $color in $primary {
    --s-color-primary-#{$scale}: #{$color};
  }

  @each $scale, $color in $neutral {
    --s-color-neutral-#{$scale}: #{$color};
  }

  @each $scale, $color in $border {
    --s-color-border-#{$scale}: #{$color};
  }

  @each $scale, $color in $text {
    --s-color-text-#{$scale}: #{$color};
  }
}
