.results {
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--s-space-6);
  &__bar {
    margin-bottom: var(--s-space-4);
  }

  &__title {
    font-size: var(--s-text-heading-lg-font-size);
    font-weight: var(--s-text-body-lg-font-weight);
    margin: 0;

    .query {
      font-size: var(--s-text-heading-lg-font-size);
      font-weight: var(--s-text-label-lg-font-weight);
      color: var(--s-color-primary-200);
      text-transform: capitalize;
    }
  }
}
